*.svg
*.png
*.npy
*__pycache__*
*.db
.idea
venv
*.pdf
*/*/*/simulation/simulation/
*/*/simulation/*/
compare_noise
fitting_TF
oscillation
phase_plan
previous_test
parameter_analyse/static/Damien/
parameter_analyse/mallory/
